@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="text-center">
    <h1 class="text-3xl text-red-600">@ViewData["Title"]</h1>
    <p class="text-lg text-red-600">You do not have access to this resource.</p>
</header>
