@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1 class="text-3xl font-bold mb-4">@ViewData["Title"]</h1>
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
