@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class=" flex items-center justify-center min-h-screen">

    <div class="max-w-lg mx-auto p-10">
        <div>
            <h1 class="text-3xl font-bold mb-2 text-gray-800">@ViewData["Title"]</h1>
            <p class="text-xl mb-4 text-gray-700">Please check your email to reset your password.</p>
        </div>
    </div>

</div>