@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<header class="p-8 text-center">
    <h1 class="text-4xl text-red-500 font-bold">@ViewData["Title"]</h1>
    <p class="text-lg text-red-500">This account has been locked out, please try again later.</p>
</header>
