@page
@model LoginModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="bg-[#f3f3f3] min-h-screen flex justify-center items-start pt-8 md:pt-0">
    <div class="w-full md:w-[35%] px-4 mb-8 md:mb-0">
        <section class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
            <a class="flex items-center mb-2 text-2xl font-semibold text-gray-900 text-gray-500 cursor-default ">
                <img class="w-12 h-12 mr-2" src="~/img/rfid.png" alt="logo">

            </a>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0  ">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8 ">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-500 md:text-2xl">
                        Sign in to your account
                    </h1>

                    <form class="space-y-4 md:space-y-6" id="account" method="post">
                        <input type="hidden" id="selectedService" name="selectedService" value="">
                        <div>
                            <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
                            <input asp-for="Input.Email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-blue-200 block w-full p-2.5 placeholder-gray-400 " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-red-700"></span>

                        </div>
                        <div>
                            <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                            <input asp-for="Input.Password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-blue-200 block w-full p-2.5 placeholder-gray-400 " autocomplete="current-password" aria-required="true" placeholder="password" />

                            <span asp-validation-for="Input.Password" class="text-red-700"></span>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input asp-for="Input.RememberMe" id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label asp-for="Input.RememberMe" for="remember" class="text-gray-500 text-gray-300"> @Html.DisplayNameFor(m => m.Input.RememberMe)</label>
                                </div>
                            </div>

                        </div>
                        <div class="flex justify-between ">
                            <div>
                                <a id="forgot-password" asp-page="./ForgotPassword" class="text-sm font-medium text-red-600 hover:underline">Forgot password?</a>
                            </div>

                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-sm font-medium text-gray-400 hover:underline">Resend email confirmation</a>
                            </p>

                        </div>

                        <button type="submit" class="w-full text-white bg-[#7258DB] hover:bg-primary-700  font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700">Sign in</button>         
                    </form>
                    <div asp-validation-summary="ModelOnly" class="text-red-700" role="alert"></div>
                </div>

            </div>
        </section>
    </div>
    <div class="w-full md:w-[65%] p-2 flex items-center  justify-center">
        <section class=" flex flex-col items-center justify-center py-7 w-full">
            <h3 class="text-lg font-semibold">Explore Our Services</h3>
            <hr class="my-2 w-full" />
            <div class="w-full my-2 flex gap-3">


                <div class="text-center mb-2 border rounded-md w-[60%] bg-white service-option cursor-pointer" data-service="SmartFittingRoom">
                    <a href="/smart-checkout" class="flex flex-col items-center justify-center">
                        <img src="https://images.unsplash.com/photo-1595665593673-bf1ad72905c0?q=80&w=1928&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Smart Checkout" class=" w-full object-cover rounded-t-md h-32 mb-2">
                        <span class="text-md font-medium text-[#7258DB] hover:underline">Smart Fitting Room</span>
                    </a>
                    <p class="text-sm text-gray-600 mb-1">Try before you buy with our virtual fitting room.</p>
                </div>


                <div class="text-center mb-2 border rounded-md w-[60%] bg-white service-option cursor-pointer" data-service="SmartCheckout">
                    <a href="/smart-checkout" class="flex flex-col items-center justify-center">
                        <img src="https://plus.unsplash.com/premium_photo-1663089703563-5f26865b9e13?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Smart Checkout" class=" w-full object-cover rounded-t-md h-32 mb-2">
                        <span class="text-md font-medium text-[#7258DB] hover:underline">Smart Checkout</span>
                    </a>
                    <p class="text-sm text-gray-600 mb-1">Experience our fast and secure checkout process.</p>
                </div>

       
                <div class="text-center mb-2 border rounded-md w-[60%] bg-white">
                    <a href="/smart-checkout" class="flex flex-col items-center justify-center">
                        <img src="https://images.unsplash.com/photo-1567966703322-8aa782585b34?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Smart Checkout" class=" w-full object-cover rounded-t-md h-32 mb-2">
                        <span class="text-md font-medium text-[#7258DB] hover:underline">Recommendations Checkout</span>
                    </a>
                    <p class="text-sm text-gray-600 mb-1">Discover products tailored just for you.</p>
                </div>
            </div>
            <div class="w-full flex flex-col items-center justify-center">
                <section class="py-7 w-full text-center">
                    <h3 class="text-lg font-semibold">Contact Us</h3>
                    <p class="my-2 text-gray-600">Have questions? Our team is ready to help you.</p>
                 
                    <a href="mailto:np03cs4s220079@gmail.com" class="text-blue-600 hover:text-blue-800 hover:underline">
                        Get in Touch
                    </a>
                </section>
          
            </div>



        </section>

    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/main.js"></script>

}
