@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

}
<div class="flex-col p-2">
    <div>
        <h1 class="text-2xl font-bold">Employee Details </h1>
    </div>

    <hr class="mt-2 bg-gray-400 border" />
    <form enctype="multipart/form-data" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="content-holder flex-col space-y-4 mt-4">
            <div class="border rounded-md p-2 bg-white">
                <div class="box w-full">
                    <div class="mt-2 ">
                        <div class="titleHolder flex-col space-y-4 mb-2">

                            <div class=" w-full flex justify-around">
                                <div class="  flex-col w-[45%] ">
                                    <label>Full Name</label>

                                    <input asp-for="Input.FullName" type="text" required placeholder="Enter Name" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                                </div>
                                <div class="flex flex-col w-[45%]">
                                    <label for="Input_DOB" class="block text-sm font-medium text-gray-700">Date of Birth</label>
                                    <input type="date" id="Input_DOB" name="Input.DOB" required class="mt-1 block w-full h-10 px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" />
                                </div>

                            </div>

                            <div class=" w-full flex justify-around">
                                <div class="flex flex-col w-[45%]">
                                    <label for="Input_Gender" class="block text-sm font-medium text-gray-700">Gender</label>
                                    <select id="Input_Gender" name="Input.Gender" required class="mt-1 block w-full h-10 px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                                        <option value="" disabled>Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>


                                <div class="  flex-col w-[45%] ">
                                    <label>Phone Number</label>

                                    <input asp-for="Input.PhoneNumber" type="text" required placeholder="10-digit number" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-red-600"></span>
                                </div>


                            </div>

                            <div class=" w-full flex justify-around">
                                <div class="  flex-col w-[45%] ">
                                    <label asp-for="Input.Email" class="">Email</label>
                                    <input asp-for="Input.Email" autocomplete="username" aria-required="true" type="email" placeholder="Enter Email" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                                    <span asp-validation-for="Input.Email" class="text-red-600"></span>
                                </div>
                            @*     @if (User.IsInRole(SD.Role_Admin))
                                { *@
                                    <div class="w-[45%] flex-col">
                                        <label asp-for="Input.Role" >Role</label>
                                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="mt-2  w-full h-8 px-2 py-1  bg-gray-50 border  rounded   focus:outline-blue-200"></select>
                                    </div>
                            @*     } *@
                            </div>
                            <div class="flex w-full justify-around">

                                <div class="  flex-col w-[45%] ">
                                    <label asp-for="Input.Password">Password</label>
                                    <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" type="password" placeholder="Enter Password" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                                    <span asp-validation-for="Input.Password" class="text-red-600"></span>
                                </div>
                                <div class="  flex-col w-[45%] ">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" type="password" placeholder="Enter Confirm Password" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-red-600"></span>
                                </div>
                            </div>
                        </div>
                        <div class="flex w-full justify-around">
                            <div class="  flex-col w-[45%] ">
                                <label asp-for="Input.Country">Country</label>
                                <input asp-for="Input.Country" type="text" placeholder="Enter Country" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                            </div>

                            <div class="  flex-col w-[45%] ">
                                <label asp-for="Input.City">City</label>
                                <input asp-for="Input.City" type="text" placeholder="Enter City" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                            </div>
                        </div>

                        <div class="flex w-full justify-around mt-2">
                            <div class="  flex-col w-[45%] ">
                                <label asp-for="Input.StreetAddress">Address</label>
                                <input asp-for="Input.StreetAddress" type="text" placeholder="Enter Address" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                            </div>
                            <div class="  flex-col w-[45%] ">
                                <label asp-for="Input.PostalCode">Postal Code</label>
                                <input asp-for="Input.PostalCode" type="text" placeholder="Enter Postal Code" class="h-8 border mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                            </div>
                        </div>

                    </div>

                    <div class="w-full flex justify-around mt-2">


                        <div class="flex-col  w-[95%]">
                            <label>Registration Date</label>
                            <input id="Input_RegistrationDate" name="Input.RegistrationDate" type="date" disabled class="h-8 border text-gray-400 mt-2 rounded px-2 py-4 w-full bg-gray-50 focus:outline-blue-200" />
                        </div>


                    </div>
                    <div class="mt-2 flex flex-col items-center justify-center w-full   ">
                        <p class="mb-2">Upload your photo</p>
                        <label class="flex flex-col w-[95%] items-center justify-center h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer">

                            <input type="file" name="ImageFile" />
                            <span class="text-red-600"></span>
                        </label>
                    </div>
                </div>
                <div class="float-right mt-2">
                    <button type="submit" class="border bg-[#7258DB] px-4 py-2 mt-2 rounded text-white">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>






@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        window.onload = function () {
            var today = new Date().toISOString().split('T')[0];
            document.getElementById('Input_RegistrationDate').value = today;
        };
    </script>
}
