@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 class="text-3xl font-bold text-gray-800">@ViewData["Title"]</h1>
<p class="text-lg text-gray-600 mt-4">
    Your password has been reset. Please <a class="text-blue-500 underline" asp-page="./Login">click here to log in</a>.
</p>
