@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mb-6">
        <h1 class="text-xl font-bold mb-2">@ViewData["Title"]</h1>
        <h2 class="text-lg">Reset your password.</h2>
        <hr class="my-4" />
    </div>
    <div class="mb-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="mb-4">
                <input asp-for="Input.Email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <span asp-validation-for="Input.Email" class="text-red-500 text-xs italic"></span>
            </div>
            <div class="mb-4">
                <input asp-for="Input.Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <span asp-validation-for="Input.Password" class="text-red-500 text-xs italic"></span>
            </div>
            <div class="mb-6">
                <input asp-for="Input.ConfirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="block text-gray-700 text-sm font-bold mb-2"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-xs italic"></span>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
