<section class=" p-2">
    <div class="relative overflow-hidden bg-white border sm:rounded-lg">
        <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
            <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between">
                <h5 class="text-lg leading-6 font-medium text-gray-900">Customer Requests</h5>
            </div>
        </div>
        <div class="overflow-x-auto ">
            <table id="tblData" class="w-full text-sm text-left rounded-md " style="width:100%; background-color: #ffffff; border: 1px solid #ccc; margin-top:2px;">
                <thead class="text-xs text-black uppercase mt-2 ">
                    <tr class="">
                        <th><p class="flex justify-center">Date</p></th>
                        <th><p class="flex justify-center">From</p></th>
                        <th><p class="flex justify-center">Title</p></th>
                        <th><p class="flex justify-center">Detail</p></th>
                        <th><p class="flex justify-center">IsRead</p></th>

                        <th><p class="flex justify-center">Status</p></th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/notiTable.js"></script>
    <script src="~/js/notificationTableCustomStyle.js"> </script>
}