@model BrandDetail

@{
    ViewData["Title"] = "Create";
}

<div class="flex-col p-2">
    <div>
        <h1 class="text-2xl font-bold">Add Brands</h1>
    </div>
    <hr class="mt-2 bg-gray-400 border" />
    <form asp-action="Create">
        <div class="content-holder flex-col space-y-4 mt-4">

            <!--Info Box -->
            <div class="border rounded-md p-2 bg-white">
                <div class="box w-full">
                    <h3 class="text-xl font-bold">Brand Information</h3>
                    <div class="mt-2">
                        <div class="titleHolder w-full mb-2">
                            <h2 class="text-l font-semibold ">Brand title</h2>
                            <input asp-for="BrandName" class="w-full border rounded-md h-8 px-2 py-4 focus:outline-blue-200"
                                   type="text" />

                            <span asp-validation-for="BrandName" class="text-red-600"></span>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="float-right">
            <button type="submit" class="border bg-[#7258DB] px-4 py-2 mt-2 rounded text-white ">Save</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
