@model BrandDetail

@{
    ViewData["Title"] = "Edit";
}
<div class="flex-col ml-[12rem] p-2">
    <hr class="mt-2 bg-gray-400 border" />
    <form asp-action="Edit">
   
        <div class="content-holder flex-col space-y-4 mt-4">
            <input type="hidden" asp-for="BrandID" />
            <!--Info Box -->
            <div class="border rounded-md p-2 bg-white">
                <div class="box w-full">
                    <h3 class="text-xl font-bold">Edit Brand Information</h3>
                    <div class="mt-2">
                        <div class="titleHolder w-full mb-2">
                            <label for="BrandName" class="block text-sm font-medium text-gray-700">Brand Name</label>
                            <input asp-for="BrandName" class="w-full border rounded-md h-10 px-3 py-2 focus:outline-blue-200"
                                   type="text" />
                            <span asp-validation-for="BrandName" class="text-red-600"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        </div>
        <div class="float-right">
            <button type="submit" class="border bg-[#7258DB] px-4 py-2 mt-2 rounded text-white focus:outline-none hover:bg-purple-700">Save</button>
        </div>
    </form>
</div>
@* 
<div class="form-group">
    <label asp-for="BrandName" class="control-label"></label>
    <input asp-for="BrandName" class="form-control" />
    <span asp-validation-for="BrandName" class="text-danger"></span>
</div> *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
