
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FYP</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css     " />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>

<body>
    <!-- navbar goes here -->
    <nav class="bg-[#262626]">
        <div class=" mx-auto ">
            <div class="flex justify-between  ">

                <div class="flex  ">
                    <p class="text-3xl font-semibold text-white">stock</p>
                    <p class="text-3xl text-green-400">Sync</p>
                </div>
                <div class="flex items-center">
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </div>

    </nav>

  
    
        <div class="flex">
        @if (User.IsInRole(SD.Role_Admin))
        {
            <div class="min-h-screen flex flex-row bg-[#7258DB] ">
                <div class="flex flex-col w-[12rem] overflow-hidden">
                    <ul class="flex flex-col py-4">
                        <li>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"><i class="bx bx-home"></i></span>
                                <span class="text-sm font-medium">Dashboard</span>
                            </a>
                        </li>
                        <li class="relative" data-te-dropdown-ref>
                            <a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white cursor-pointer"
                               data-te-dropdown-toggle-ref
                               data-dropdown-target="productDropdown">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-white">
                                    <i class="bx bx-shopping-bag"></i>
                                </span>
                                <span class="text-sm font-medium">Products</span>
                                <span class="ml-2 w-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown commonDropdown hidden flex-col items-center text-sm space-y-2 text-[#f2f2f2] " id="productDropdown">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Product List
                            </a>
                            <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Product Add
                            </a>

                            <a asp-area="Admin" asp-controller="Product" asp-action="Scan" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Product Scan
                            </a>
                        </li>



                        <li class="relative" data-te-dropdown-ref>
                            <a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white cursor-pointer"
                               data-te-dropdown-toggle-ref
                               data-dropdown-target="categoryDropdown">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-white">
                                    <i class="bx bx-category"></i>
                                </span>
                                <span class="text-sm font-medium">Categories</span>
                                <span class="ml-2 w-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown commonDropdown hidden flex-col justify-center  text-sm space-y-2 text-[#f2f2f2]" id="categoryDropdown">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Category List
                            </a>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Category Add
                            </a>

                        </li>
                        <li class="relative" data-te-dropdown-ref>
                            <a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white cursor-pointer"
                               data-te-dropdown-toggle-ref
                               data-dropdown-target="brandDropdown">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-white">
                                    <i class="bx bx-purchase-tag"></i> <!-- You can change the icon to suit brands -->
                                </span>
                                <span class="text-sm font-medium">Brands</span>
                                <span class="ml-2 w-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown commonDropdown hidden flex-col items-center text-sm space-y-2 text-[#f2f2f2]" id="brandDropdown">
                            <a asp-area="Admin" asp-controller="Brand" asp-action="Index" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Brand List
                            </a>
                            <a asp-area="Admin" asp-controller="Brand" asp-action="Create" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Add Brand
                            </a>
                        </li>
                        <li class="relative" data-te-dropdown-ref>
                            <a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white cursor-pointer"
                               data-te-dropdown-toggle-ref
                               data-dropdown-target="employeeDropdown">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg">
                                    <i class='bx bx-user' style='color:#ffffff'></i> <!-- You can change the icon to suit brands -->
                                </span>
                                <span class="text-sm font-medium">Employees</span>
                                <span class="ml-2 w-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown commonDropdown hidden flex-col items-center text-sm space-y-2 text-[#f2f2f2]" id="employeeDropdown">
                            <a asp-area="Admin" asp-controller="Employee" asp-action="Index" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Employee List
                            </a>
                            <a asp-area="Admin" asp-controller="Employee" asp-action="Details" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Assign Employee
                            </a>
                        </li>
                        <li class="relative" data-te-dropdown-ref>
                            <a class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white cursor-pointer"
                               data-te-dropdown-toggle-ref
                               data-dropdown-target="stockDropdown">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg">
                                    <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"><i class='bx bxs-package'></i></span>
                                </span>
                                <span class="text-sm font-medium">Inventory</span>
                                <span class="ml-2 w-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 20 20"
                                         fill="currentColor"
                                         class="h-5 w-5">
                                        <path fill-rule="evenodd"
                                              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                              clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown commonDropdown hidden flex-col items-center text-sm space-y-2 text-[#f2f2f2]" id="stockDropdown">
                            <a asp-area="Admin" asp-controller="Inventory" asp-action="Index" class="flex justify-center hover:text-amber-300 cursor-pointer">
                                Stock List
                            </a>
                            @*        <a asp-area="Admin" asp-controller="Employee" asp-action="Details" class="flex justify-center hover:text-amber-300 cursor-pointer">
                        Assign Employee
                        </a> *@
                        </li>



                        <li>
                            <a asp-area="Admin" asp-controller="Home" asp-action="LogOut" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-white hover:text-white">
                                <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-white"><i class="bx bx-log-out"></i></span>
                                <span class="text-sm font-medium">Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        @* side bar *@
           

            <div class="container  bg-[#F9FBFD]">
                <main role="main" class=" ">
                    <partial name="_Notification" />
                    @RenderBody()
                </main>
            </div>
        </div>
   


    @*     else
    {
    <div class="container p-2  bg-[#F9FBFD]">
    <main role="main" class="p-2 ">
    <partial name="_Notification" />
    @RenderBody()
    </main>
    </div>
    } *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
