
<section class="ml-[12rem]">

<div class="overflow-x-auto ">
    <table id="tblData" class="w-full text-sm text-left rounded-md " style="width:100%; background-color: #ffffff; border: 1px solid #ccc; margin-top:2px;">
        <thead class="text-xs text-black uppercase mt-2 ">
            <tr class="">
                <th><p class="flex justify-center">From</p></th>
                    <th><p class="flex justify-center">Title</p></th>
                    <th><p class="flex justify-center">Detail</p></th>
                    <th><p class="flex justify-center">IsRead</p></th>
                    <th><p class="flex justify-center">CreatedDate</p></th>
            </tr>
        </thead>
    </table>
</div>
</section>

@section Scripts {
    <script src="~/js/notiTable.js"></script>
}