
* {
    font-family: 'Poppins', sans-serif;
}

.size-btn {
    /* General styles for size buttons */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .size-btn.selected-size {
        /* Styles for the selected size button */
        background-color: #007bff; /* Change to your preferred color */
        color: white;
        border-color: #007bff; /* Change to your preferred color */
    }
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Add this to your site's stylesheet */
.loading-btn::after {
    content: '';
    display: inline-block;
    margin-left: 8px;
    border: 2px solid #fff; /* Adjust color to match button text color */
    border-radius: 50%;
    border-top-color: transparent;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    background-color: #f8f8f8;
}
/* Optional: Custom CSS class if you need specific styling that Tailwind doesn't offer */
.selectedProduct {
    background-color: #f3f4f6; /* Equivalent to Tailwind's bg-gray-100 */
}

.recommended-product {
    padding: 10px;
    margin-top: 10px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: grab;
}

    .product-item img.product-image {
        width: 50px; /* Adjust based on your needs */
        height: auto;
        margin-right: 10px;
        border-radius: 5px;
    }

    .product-item .product-name {
        font-size: 16px;
    }

@media print {
    /* Hide everything by default */
    body * {
        visibility: hidden;
    }
    /* Then display order details container and its children */
    .print-container, .print-container * {
        visibility: visible;
    }
    /* Position the order details at the start of the page */
    .print-container {
        position: absolute;
        left: 0;
        top: 0;
    }
    /* Additional print-specific styles here */
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }
}
