@* @model IEnumerable<ProductDetailViewModel> *@

<section class="p-2 ml-[12rem]">
    <div class="relative overflow-hidden bg-white border sm:rounded-lg">
        <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
            <div class="flex items-center flex-1 space-x-4">
                <h5>
                    <span class="text-black">All Products:</span>
                    <span class="text-gray-500">@ViewBag.productCount</span>
                </h5>
                <h5>
                    <span class="text-black">Total sales:</span>
                    <span class="text-gray-500">Rs. @ViewBag.totalSales</span>
                </h5>
            </div>
            <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
                <a asp-action="Create" type="button" class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-[#7258DB]  focus:ring-primary-300 ">
                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                    </svg>
                    Add new product
                </a>
                <button type="button" class="flex items-center justify-center  flex-shrink-0 px-3 py-2 text-sm font-medium text-white border rounded-lg bg-[#4ADE80] ">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>
                    Update stocks 1/250
                </button>

            </div>
        </div>
        <div class="overflow-x-auto ">
            <table id="tblData" class="w-full text-sm text-left rounded-md " style="width:100%; background-color: #ffffff; border: 1px solid #ccc; margin-top:2px;">
                <thead class="text-xs text-black uppercase mt-2 ">
                    <tr class="">


                        <th><p class="flex justify-center">Id</p></th>
                        <th><p class="flex justify-center">Product Name</p></th>
                        <th><p class="flex justify-center">Category</p></th>
                        <th><p class="flex justify-center">Orginal Price</p></th>
                        <th><p class="flex justify-center">Discounted Price</p></th>
                        <th><p class="flex justify-center">Operation</p></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/productsList.js"></script>
}