@model List<FetchTagsDataViewModel>



<div class="relative overflow-hidden bg-white border sm:rounded-lg">
    <div class="flex flex-col px-4 py-3 space-y-3 lg:flex-row lg:items-center lg:justify-between lg:space-y-0 lg:space-x-4">
        <div class="flex items-center flex-1 space-x-4">
            <h5>
                <span class="text-black">All Products:</span>
                <span class="text-gray-500" id="countProduct">-</span>
            </h5>

        </div>
        <div class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">


            <button id="refreshBtn" class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-white border rounded-lg bg-[#4ADE80]">
                <svg aria-hidden="true" role="status" id="loadingSpinner" class="  hidden ml-2 w-5 h-5 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"></path>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"></path>
                </svg>
                <span id="scanBtnText">Refresh</span>
            </button>


        </div>
    </div>
    <div class="overflow-x-auto">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-black uppercase border rounded ">
                <tr class="">
                    <th scope="col" class="p-4">
                        <p class="flex justify-center items-center">s.n</p>
                    </th>
                    <th scope="col" class="px-4 py-2 "><p class="flex justify-center items-center">Product</p></th>
                    <th scope="col" class="px-4 py-2"><p class="flex justify-center items-center">Category</p></th>
                    <th scope="col" class="px-4 py-2"><p class="flex justify-center items-center">Size</p></th>
                    <th scope="col" class="px-4 py-2"><p class="flex justify-center items-center">Price</p></th>
                    <th scope="col" class="px-4 py-2"><p class="flex justify-center items-center">Stock</p></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="100">
                        <p class="text-center text-gray-400 py-4">Scan for Products</p>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#refreshBtn").click(function () {
                $("#scanBtnText").hide();
                $("#loadingSpinner").removeClass('hidden');
                $.ajax({
                    url: '@Url.Action("ReadTagFromDatabase", "Product")',
                    type: 'GET',
                    success: function (data) {
                        $("#loadingSpinner").addClass('hidden');
                        $("#scanBtnText").show();
                        $("#refreshBtn").children().not("#loadingSpinner").show();
                        console.log("Success:", data);
                        let count = data.length;
                        $("#countProduct").text(count);
                        console.log(count);
                        // Clear current table rows (except header)
                        $("table tbody").empty();

                        // Check if data is not empty
                        if (data.length > 0) {
                            data.forEach(function (item, index) {
                                // Append rows to the table body
                                $("table tbody").append(
                                    `  <tr class="border-b border-gray-600 cursor-pointer hover:bg-gray-100 ">
                                                                                    <td class="px-4 py-2 whitespace-nowrap"><div class="flex items-center justify-center bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300">${index + 1}</div></td>
                                                                                    <td class="px-4 py-2 font-medium whitespace-nowrap"> <div class="flex justify-center">${item.productName}</div></td>
                                                                                    <td class="px-4 py-2 font-medium whitespace-nowrap"> <div class="flex justify-center">${item.categoryName}</div></td>
                                                                                    <td class="px-4 py-2 font-medium whitespace-nowrap"> <div class="flex justify-center">${item.size}</div></td>
                                                                                    <td class="px-4 py-2 font-medium whitespace-nowrap"> <div class="flex justify-center">Rs. ${item.price}</div></td>
                                                                            <td class="px-4 py-2 font-medium whitespace-nowrap">
                                                                                                                <div class="flex justify-center">    <a href="/Admin/Product/Details/${item.id}" class="flex items-center">Details</a></div>


                                                                            </td>
                                                                        </tr>`
                                );
                            });
                        } else {
                            // Handle empty data
                            $("table tbody").append(
                                `<tr><td colspan="6" class="text-center py-4">No products found.</td></tr>`
                            );
                        }
                    },
                    error: function (error) {
                        // Hide the spinner and show the button's text
                        $("#loadingSpinner").addClass('hidden');
                        $("#scanBtnText").show();
                        // Show the button's text
                        $("#refreshBtn").children().not("#loadingSpinner").show();
                        console.error("Error:", error);
                    }
                });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
